<% picture = book.photo? ? book.photo.path : 'chris-lawton-236413_qwg3qs' %>

<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path picture %>')">

  <div class="card-category">Popular</div>
  <div>
  <div class="card-description">
    <h2 style = "color: white">title</h2>
    <p style = "color: white">things</p>
    <p style = "color: white">more things</p>

  </div>

  </div>
</div>


