<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path("redd-angelo-12845_lw6unj",
width: 400, height: 300, crop: :fill) %>')" >
<div class="banner-content">
  <h1>Explore our best books</h1>
  <p>Very cool stuff, useful and smart</p>
  <input type="string" name="search" placeholder="find your book">
</div>
</div>


<div class="card-wrapper">
  <div class="container">
    <div class="row">
      <% @books.each do |book|%>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <%= render "shared/card", book: book %>
      </div>

      <%end%>
    </div>
  </div>
</div>




