
<div class= "text-center">
<h1> Your transaction:</h1>
<ul class = "list-unstyled">

<li> <%="To: "%> <%= @transaction.user.email %> </li>
</ul>


<br>
<br>
<%= link_to 'See all my transactions', user_transactions_path%>
</div>
